body {
  color:white;
  animation-name: homeCycle; 
animation-duration:17s; 
animation-direction:alternate; 
animation-iteration-count:infinite; 

-webkit-animation-name: homeCycle; 
-webkit-animation-duration:17s; 
-webkit-animation-direction:alternate; 
-webkit-animation-iteration-count:infinite; }	

@keyframes homeCycle 
{
0% {background-color:#16a085;} 
25% {background-color:#27ae60;} 
50% {background-color:#2980b9;} 
75% {background-color:#8e44ad;} 
100% {background-color:#16a085;} 
} 
@-webkit-keyframes homeCycle 
{ 
0% {background-color:#f39c12;} 
25% {background-color:#d35400;} 
50% {background-color:#c0392b;} 
75% {background-color:#1abc9c;}
100% {background-color:#f39c12;} 
}



.top{
  margin: 4%;
  border-top: 15%;
}
footer {
  background-color: #1abc9c;
}
.slottt-machine-recipe {
  margin: 0px auto;
  width: 700px;
  margin-top: 50px;
}

.slottt-machine-recipe__mask {
    width: 100%;
    text-align: center;
    height: 150px;
    overflow: hidden; 
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
}

.slottt-machine-recipe__items_container {
    position: absolute;
    /*text-align:center;*/
    margin: auto;
}

.slottt-machine-recipe__item {
    min-height: 150px;
    vertical-align: middle;
    align-self:center;
    width:100%;
    max-height: 150px;
    text-align: center;
    /*padding: 0px;*/
    background-size: contain;
    margin: auto;
}

.recipe_if, .recipe_then {
    font-weight: bold;
    font-size: 60px;
    width:100%;
}
a{
  
  
}
.tagline {
  font-weight: normal;
  font-size: 24px;
}
textarea {
    alignment-adjust:bottom;
    text-decoration:none;
    decoration: none;
    text-align:center;
    font-size: 100px;
    vertical-align: center;
}
textarea.materialize-textarea{
  font-size: 2rem;
}
nav #navbar-fixed{
  background-color: green;
}

#fun1, #fun2{
  font-size: 1.8rem;
  text-align:center;
  vertical-align: middle;
  alignment-baseline: bottom;
  text-decoration: italic;
}
.pluginButton {
  vertical-align: middle;
  
}